body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
  background: #f6f9fb;
  color: #22334d;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  color: #048ee1;
  text-decoration: none;
  transition: color 0.13s;
}
a:hover {
  color: #005fa3;
}
::-webkit-scrollbar {
  width: 8px;
  background: #e3e8ee;
}
::-webkit-scrollbar-thumb {
  background: #b5d6f6;
  border-radius: 6px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
